<div class="face-snap-card" [ngClass]="{ snapped: snapped }">
  <h2>{{ faceSnap.title | uppercase }}</h2>
  @if (faceSnap.location) {
    <p>Localisation : {{ faceSnap.location }}</p>
  } @else {
    <p>Localisation non spécifiée</p>
  }
  <img [src]="faceSnap.url" [alt]="faceSnap.title" />
  <p>{{ faceSnap.description }}</p>
  <p>Créer le {{ faceSnap.createdAt | date: 'd MMMM yyyy, à HH:mm' }}</p>
  <p>
    <button (click)="onSnapped()">
      {{ snapped ? 'Oops, snap!' : 'Oh, snap!' }}
    </button>
    <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snap + ', 0)' }">❤️ {{ faceSnap.snap }}</span>
  </p>

</div>
